
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@400;700&display=swap');

.text {
    font-family: "Kdam Thmor Pro";
    font-size: 30px;
    line-height: 40px;
    margin: 5px 30px 40px 30px;
    text-align: center;
}

.horisontal-ul li {
    display: inline-block;
    font-size: 60px;
    line-height: 0px;
    margin: 0px 60px;
    }
.right {
    font-family: "Kdam Thmor Pro";
    font-size: 30px;
    text-align: right;
}
.photo {
    margin: -10px;
}
.centre {
    font-family: "Kdam Thmor Pro";
    font-size: 35px;
    line-height: 40px;
    margin: 5px 30px 40px 30px;
    text-align: center;
}